appsettings

.env

.idea
.vscode
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.development.local.example
.env.test.local.example
.env.production.local.example
.env.development.example
.env.test.example
.env.production.example

FacilityHub/obj
FacilityHub/bin
FacilityHub.Services/obj
 FacilityHub.Services/bin
FacilityHub.Core/obj
FacilityHub.Core/bin
FacilityHub.Infrastructure/obj
FacilityHub.Infrastructure/bin
FacilityHub.Application/obj
FacilityHub.Application/bin
FacilityHub.Domain/obj
FacilityHub.Domain/bin
